// all link/cdn and variables are in this file

// font style
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');



// font style and size
$font-style-primary: 'Montserrat', sans-serif;
$font-style3: 'Roboto', sans-serif;

$font-size-p : 1.2rem;
$font-weight: 600;


// colors
$background-color: #ecf0f1;
$color-primary: #27ae60;
$color-primary2: #20bf6b;


$color-redshade: #e74c3c;

$color-font-dark: #000;
$color-font-white: #fff;


// theme dark
$color-dark: #2d3436;


//extra
$about-height: 60vh;

