@import "./variables";
@import "./mixins";
// @import "./mediaqueries";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: block;
    padding: 0;
    margin: 0;
    font-family: $font-style-primary;
    height: 100%;
    // background-color: $background-color;

}

////////////////////////////////////////////////////////////
////////////////////// TOP INFO SECTION ////////////////////
////////////////////////////////////////////////////////////
.info{
    display: inline-block;
    width: 100%;
    height: 5vh;
    background-color: $color-primary;
    color: $color-font-white;
    font-size: 1rem;

    p{
        float: right;
        margin-right: 4rem;
        padding-top: 0.4rem;
        opacity: 1;

        i{
            margin-right: 0.3rem;
        }
        span{
            margin: 0 1rem;
        }
    }

}

////////////////////////////////////////////////////////////
///////////////////////// NAVBAR ///////////////////////////
////////////////////////////////////////////////////////////
header{
    // background-color: blanchedalmond;
    display: flex;
    justify-content: start;
    align-content: left;
    width: 100vw;
    height: 12vh;
    // margin: 0;

    .logo{
        position: relative;
        width: 10rem;
        height: 6rem;
        img{
            width: 10rem;
            height: 6rem;
        }
    }
    
    .navbar li{
        display: inline;
        // min-width: 696px;
        list-style: none;
        padding-top: 1rem;
        padding-left: 1rem;
        height: 100%;
        text-transform: uppercase;
        a{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 900;
            letter-spacing: 1.4px;
            color: $color-font-dark;
            padding: 0.5rem;
            border-radius: 0.4rem;
            // margin-top: 0.5rem;
        }
    }
}

header .navbar li a:hover{
    @include hoverfunc;
}



////////////////////////////////////////////////////////////
///////////////////  PRODUCTS CATEGORY /////////////////////
////////////////////////////////////////////////////////////
.product{
    display: block;
    width: 100vw;
    height: auto;
    margin-bottom: 2rem;


    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        // font-size: 2rem;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;
        background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(26,134,49,1) 0%, rgba(255,255,255,0) 100%);
        color: #fff;
        
    }

    .container{
        margin: 2rem auto;

        .row{
            // padding: 1rem 0;
            
            .col-md{
                padding: 1rem;
                .card a{
                    text-decoration: none;
                    color: black;
                }

                .card-body{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h5{
                        font-weight: 600;
                    }
                }
            }
        }
    }

}

.product .container .col-md .card:hover{
    // color: $color-redshade;
    // transition: all 1s ease;
    // opacity: 0.6;
    @include hoverfunc;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.253);
    opacity: 0.9;
    .card-body{
        color: $color-redshade;

    }
}


////////////////////////////////////////////////////////////
///////////////////  ABOUT       ///////////////////////////
////////////////////////////////////////////////////////////
.about{
    color: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url("./wheat-field.jpg") no-repeat;
    background-size: 100vw 100vh;
    font-size: 1rem;
    margin-top: 1rem;

    .about-inner{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .aboutheading{
            width: 80vw;
            height: fit-content;
            background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(26,134,49,1) 0%, rgba(255,255,255,0) 100%);
            position: relative;
            margin-bottom: 2rem;
            h2{
                // position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                max-width: 600px;
            }

        }

        .abouttext{
            width: 80vw;
            height: fit-content;
            padding: 0 3rem;
            span{
                color: $color-primary;
                font-weight: bold;
            }

        }
    }

}

////////////////////////////////////////////////////////////
//////////////// COPY RIGHTS SECTION ///////////////////////
////////////////////////////////////////////////////////////

.team{
    margin: 2rem 0 0 0;
    padding: 2rem;

    width: 100vw;
    height: 100vh;
    letter-spacing: 1.1px;
    // background-color: cadetblue;
    h1{
        text-align: center;
        margin: 0 auto;
        span{
            font-style: italic;
            color: $color-redshade;

        }
    }
    .profiles{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 2rem;

        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-basis: 260px;
            img{
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                filter: grayscale(100%);
                cursor: pointer;
                transition: 400ms;
            }

            img:hover{
                filter: grayscale(0);
            }

            .user-name{
                margin-top: 2rem;
                color: $color-redshade;
                font-weight: 600;

            }

            h5 i{
                margin-top: 1rem;
                cursor: pointer;
            }
        
        }

        

    }
}



////////////////////////////////////////////////////////////
///////////////////  CONTACT US PAGE ///////////////////////
////////////////////////////////////////////////////////////
.contactusdiv{
    width: 100vw;
    height: 120vh;
    // background-color:rgb(102, 183, 190);
    margin: 0;
    padding: 2rem;
    .detail{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        // background-color: cornsilk;
        .findus{
            width: 30%;
        }
        .getintouch{
            width: 30%;
            button{
                margin-top: 1rem;
            }
        }
    }
    .map{
        // background-color: cyan;
        width: 100%;
        height: 60vh;
        border: 0;
        iframe{
            width: 100%;
            height: 60vh;
        }
    }




}





////////////////////////////////////////////////////////////
//////////////////   FOOTER         ////////////////////////
////////////////////////////////////////////////////////////
.footer{
    border: border-box;
    // position: absolute;
    // margin-top: -2REM;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.877);
    color: #fff;
    letter-spacing: 1.3px;
    
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding-top: 2rem;
        // background-color: blanchedalmond;

        h3{
            color: $color-redshade;
        }
        hr{
            color: rgb(99, 95, 95);
        }

        .quicklinks{
            ul{
                margin-top: 2rem;
            }
            ul li a{
                text-decoration: none;
                color: #fff;
            }
            
            

        }

        .contact{
            div{
                margin-top: 2rem;
                i{
                    color: $color-redshade;
                    padding-right: 0.5rem;
                }
            }
        }


        

        
        


    }
}


.footer footer .quicklinks ul li a:hover{
    @include hoverfunc;
}


////////////////////////////////////////////////////////////
//////////////// COPY RIGHTS SECTION ///////////////////////
////////////////////////////////////////////////////////////
.copyright{
    box-sizing: border-box;
    width: 100vw;
    height: 4rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
    background: radial-gradient(circle, rgba(32,237,65,1) 0%, rgba(10,65,10,1) 100%);

    p{
        display: block;
        margin: 0 auto;
        align-items: right;
        a{
            text-decoration: none;
            color: black;
        }
    }
}




////////////////////////////////////////////////////////////
//////////////////   Media Query    ////////////////////////
////////////////////////////////////////////////////////////


@media (max-width: 975px){
    header{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 10vh;
        z-index: 2;
        a{
            margin: 0;
            padding: 0;
            .logo{
                margin: 0 1rem;
            }
        }

        .navbar nav .navbar-toggler{
            // position: fixed;
            width: auto;
            height: 2rem;
            // transition: ease 1s linear;
            z-index: 3;

        }

        .navbar nav #navbarSupportedContent{
            position: relative;
            top: -10rem;
            background-color: rgba(0, 0, 0, 0.219);
            width: auto;
            height: 110vh;
            margin-left: 0;
            
            ul{
                padding-top: 12rem;
            }
            ul li a{
                color: white;
            }
        }

    }

    header .navbar nav #navbarSupportedContent ul li a:hover{
        @include hoverfunc;
    }

    .team{
        height: auto;

        .profiles{
            flex-direction: column;
            .profile{
                margin: 2rem 0;
            }
        }
    }

    .about{
        font-size: 14px;

        .about-inner .aboutheading h2{
            padding-left: 3rem;
        }
    }

}


@media (max-width: 768px){
    .info{
        height: 4vh;
        font-size: 10px;
        p{
            margin-right: 16px;
            span{
                margin: 0 10px
            }
        

        }

    }

    header{

        .navbar nav #navbarSupportedContent{
            position: relative;
            top: -10rem;
            right: -.6rem;

            }
        }

    .hero-header{
        height: 40vh;
        z-index: 1;
        .imageslider{
            height: 40vh;
            img{
                height: 40vh;
            }
        }
    }

    .product{
        .container .row .col-md{
            width: 22rem;
            margin: 0 AUTO;

        }
    }

    .team{
        height: auto;
        .profiles{
            flex-direction: column;
            .profile{
                margin: 2rem 0;
                img{
                    width: 18rem;
                    height: 18rem;
                }
            }
        }
    }

    .contactusdiv{
        .detail .findus{
            opacity: 0;
            font-size: 0;
            width: 0;
        }
        .getintouch{
            width: 100%;
            
            form input{
                width: 15rem;
            }
            textarea{
                width: 15rem;
            }

            
        }
    }

    .about{
        font-size: 12px;
        height: 100vh;
        background-size: 100vw 100vh;

        .about-inner{
            width: 100vw;
            height: 100vh;

            .aboutheading h2{
                font-size: 14px;
                font-weight: 600;
            }

            .abouttext{
                width: 80vw;
                padding: 0;
                margin: 0;
            }

        }


    }

    .footer footer{
        font-size: 12px;
        .quicklinks{
            opacity: 1;
            font-size: 0;
            h3{
                font-size: 0px;
            }
        }

        .contact{
            margin: 0 0.5rem;
        }
    }

    .copyright{
        font-size: 8px;
        span{
            font-size: 0;
        }
    }

}

